mixin buttonGradient({text, hover=false, arrow=false})
  if hover == true
    button.button-gradient.button-gradient_hover
      span=text
  else if arrow == true
    button.button-gradient.button-gradient_arrow
      span=text
  else
    button.button-gradient
      span=text