- var navLinks__1 = [{ link: "#", text: "О нас"} , { link: "#", text: "Новости"} , { link: "#", text: "Служба поддержки"},{ link: "#", text: "Услуги"}]
- var navLinks__2 = [{ link: "#", text: "О сервисе"} , { link: "#", text: "Наша команда"} , { link: "#", text: "Вакансии"},{ link: "#", text: "Инвесторы"}]
- var navLinks__3 = [{ link: "#", text: "Соглашения"} , { link: "#", text: "Сообщества"} , { link: "#", text: "Связь с нами"}]


footer.footer 
    .footer__colLogo
        .logo.logo--mb20
            a(href="#")
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__col 
        ul 
            li 
                a(href="#") 
                    h3.footer--darkText  навигация
            for i in navLinks__1
                li.footer--mb20  
                    a(href=i.link) #{i.text}
    .footer__col
         ul 
            li 
                a(href="#") 
                    h3.footer--darkText  о нас
            for i in navLinks__2
                li.footer--mb20 
                    a(href=i.link) #{i.text}
    .footer__col
         ul 
            li 
                a(href="#") 
                    h3.footer--darkText  служба поддержки
            for i in navLinks__3
                li.footer--mb20  
                    a(href=i.link) #{i.text}
    .footer__col.footer--maxWidth
         ul 
            li 
                a(href="#") 
                    h3.footer--darkText  подписка
            p Получайте специальные предложения и новости сервиса
            form.footer__formSend
                +inputCard("--minWidth","Email")
                input(type="submit" value="")
.footer__social
    p Copyright © 2018 Toxin отель. Все права зачищены.
    .footer__link 
        a(href="#").sprite.sprite-twitter
        a(href="#").sprite.sprite-facebook
        a(href="#").sprite.sprite-inst
    