- var navLinks__1 = [{ link: "#", text: "О нас"} , { link: "#", text: "Новости"} , { link: "#", text: "Служба поддержки"},{ link: "#", text: "Услуги"}]
- var navLinks__2 = [{ link: "#", text: "О сервисе"} , { link: "#", text: "Наша команда"} , { link: "#", text: "Вакансии"},{ link: "#", text: "Инвесторы"}]
- var navLinks__3 = [{ link: "#", text: "Соглашения"} , { link: "#", text: "Сообщества"} , { link: "#", text: "Связь с нами"}]


footer.footer 
    .footer__columnLogo
        .logo
            a(href="#")
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__column 
        ul 
            li 
                h3 
                    a(href="#")  навигация
            for i in navLinks__1
                li 
                    a(href=i.link) #{i.text}
    .footer__column 
         ul 
            li 
                h3 
                    a(href="#")  о нас
            for i in navLinks__2
                li 
                    a(href=i.link) #{i.text}
    .footer__column 
         ul 
            li 
                h3 
                    a(href="#")  Служба поддержки
            for i in navLinks__3
                li 
                    a(href=i.link) #{i.text}
    .footer__column 
         ul 
            li 
                h3 
                    a(href="#")  Подписка
            p Получайте специальные предложения и новости сервиса
    