mixin dropDown({text})
  .dropdown
    .dropdown__button= text


mixin hotelNumber({luxury= false, number, price})
  .description-wrapper
    if luxury == true
      .description
        h3 № 
        span= number
        p люкс 
    else
      .description
        h3 № 
        span= number
    .price 
      span= price
      p в сутки


- var userLogin = false
- var userName
mixin header({name})
  header.header
      .header__container
        .logo
            a(href="#") 
        .header__wrapper
          nav.header__nav
              a.header--active(href="#") О нас
              .dropdown
                .dropdown__button
                  p Услуги
                  i.icon-expand_more
              a(href="#") Вакансии
              a(href="#") Новости
              .dropdown
                .dropdown__button
                  p Соглашения
                  i.icon-expand_more
          if userLogin == true
              p.header__user= userName
          else 
              .header__button
                  .header__button-enter
                      +buttonGradientBorder({
                          text: 'войти'
                      })
                  .header__button-reg
                      +buttonGradient({
                          text: 'зарегистрироваться'
                      })