mixin inputCard({modifier, text})
  input.inputCard(type="text" class="inputCard" + modifier placeholder=text)


mixin buttonGradient({text, hover=false, arrow=false})
  if hover == true
    button.buttonGradient.buttonGradient--hover
      span=text
  else if arrow == true
    button.buttonGradient.buttonGradient--arrow
      span=text
  else
    button.buttonGradient
      span=text


mixin buttonGradientBorder({modifier, text})
  button.buttonGradientBorder(class="buttonGradientBorder" + modifier)
    span=text


mixin colorBox({modifier, title, subtitle})
  .containerBox 
    .colorBox(class="colorBox" + modifier)
    .colorBox__text
      h2.colorBox__title= title 
      p.colorBox__subtitle= subtitle


mixin typeText({title, text, size})
  .type
    if size == "large"
      .type__head.type__head_font_large= title
      .type__body
        h1.type__text.type__text_font_large!= text
    else if size == "medium"
      .type__head.type__head_font_medium= title
      .type__body
        h2.type__text.type__text_font_medium!= text 
    else if size == "small"
      .type__head.type__head_font_small= title
      .type__body
        h3.type__text.type__text_font_small!= text
    else
      .type__head= title
      .type__body
        .type__text.type__text_font_default!= text


mixin logoKit()
  .logoKit


mixin dropDown({text})
  .dropdown
    .dropdown__button= text


mixin checkBox({text, subtitle, checked=false, id, rich=false})
  if rich == true 
    input.customCheckbox(type="checkbox" id=id checked= checked)
    label.customCheckbox--bold(for=id)
      h3= text
      p= subtitle
  else
    input(type="checkbox" id=id class="customCheckbox" checked= checked)
    label(for=id)= text


mixin radioButton({id, text, checked=false})
  input.radio-button(type="radio" id=id name="radio" checked= checked)
  label.radio-label(for=id)= text


mixin toggleButton({id, text, checked= false})
  input.card__toggleButton(type="checkbox" id= id checked= checked)
  label(for= id class="text")= text


mixin likeButton({likes, modifier=false})
  #rating 
  if modifier == true
    button(class='like activeBtn')
      span.likes= likes
  else 
    button.like
      span.likes= likes


mixin rateBtn({quantity})
  select.star-rating
    option(value= quantity)
    option(value="4")
    option(value="3")
    option(value="2")
    option(value="1")


mixin slider({text})
  .slider
    .slider__title 
      h3=text
      span#result-slider
    #slider


mixin linkText({text, hover=false})
  if hover == true 
    .linkText.linkText--active
      h3= text
  else
    .linkText
      h3= text


mixin configuration-dropdown()
  input.js-dropdown

mixin hotelNumber({luxury= false, number, price})
  .description-wrapper
    if luxury == true
      .description
        h3 № 
        span= number
        p люкс 
    else
      .description
        h3 № 
        span= number
    .price 
      span= price
      p в сутки


mixin sliderCard({img, number, price, reviews, rate, luxury})
  .sliderWrapper
    .sliderCard
      ul 
        li
          img.sliderCard__image(src=(`../img/${img}`), alt="rooms photo")
        li
          img.sliderCard__image(src=(`../img/${img}`), alt="rooms photo")
        li
          img.sliderCard__image(src=(`../img/${img}`), alt="rooms photo")
        li
          img.sliderCard__image(src=(`../img/${img}`), alt="rooms photo")
    .sliderContent
      .sliderContent__wrapper
        +hotelNumber({
          luxury: luxury,
          number: `${number}`,
          price: `${price}`
        })
        .ratingWrapper
          +rateBtn({
            quantity: `${rate}`
          })
          .review 
            span= reviews
            p Отзывов


mixin datepicker({from= false, to= false, placeholder})
  if from == true 
    .dropdown-date
      input.dropdown-date__range.dropdown-date__range_from(type="text" placeholder=placeholder readonly)
      i.icon-expand_more
  else if to == true 
    .dropdown-date
      input.dropdown-date__range.dropdown-date__range_to(type="text" placeholder=placeholder readonly)
      i.icon-expand_more
  else 
    .dropdown-date
      input.dropdown-date-filter__input(type="text" placeholder=placeholder readonly)
      i.icon-expand_more


mixin bulletList({text})
  .bullet 
    .bullet__wrapper
      .bullet__circle
    h3.bullet__text= text


mixin iconText({title, subtitle, icon})
  .iconText-list 
    i(class= icon)
    .icontText-list__wrapper-text 
      h3= title
      p= subtitle


mixin userFeedback({img, name, day, modifier, likes, feedback})
  .user-feedback
    .user-feedback__header
      img.user-feedback__image(src=(`../img/${img}`), alt="user photo")
      .user-feedback__text 
        h3= name
        p= day
    .user-feedback__footer
      .user-feedback__likes
        +likeButton({
          modifier: modifier,
          likes: `${likes}`
        })
      .user-feedback__text 
          p= feedback